/* .fonts {
  font-family: "Comfortaa", cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
} */

body {
  margin: 0;
  background-color: #fff9f5;
  color: #101213;
  padding: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.title {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-left {
  margin-right: 1vw;
}

.icon-right {
  margin-left: 2vw;
}

nav {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.background {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  z-index: -2;
  overflow: hidden;
  width: 100%;
  height: auto;
  object-fit: cover;
}

h1 {
  font-family: "Comfortaa", cursive;
  font-weight: bold;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
}

.tile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1vw 2vw;
  border: 1px solid #101213;
  border-radius: 20px;
  background-color: #ffffff;
  margin: 1vw;
  width: 20vw;
}

.tiles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
  max-height: 45vh;
  overflow-y: auto;
}

.library {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  padding: 1vw 2vw;
  border: 0;
  border-radius: 10px;
}

.add {
  background-color: #101213;
  color: #fff9f5;
  font-size: 1.5rem;
  margin-top: 2vh;
}

i {
  margin-right: 1vw;
}

.progress-bar {
  position: relative;
  background-color: #d9d9d9;
  border-radius: 5px;
  height: 0.5rem;
  margin: 2vh auto;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #73aacc;
  border-radius: 5px;
  height: 100%;
}

.percent,
.tile > p {
  font-family: "Open Sans", sans-serif;
}

.tile > p {
  margin-bottom: 0;
}

.percent {
  margin-left: 1vw;
}

.progress-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.activities {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.activity {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 16vw;
  border-radius: 20px;
  border: 1px solid #101213;
  padding: 2vw;
  margin: 1vw;
}

.flashcard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16vw;
  padding: 4vh 0;
  border: 1px solid #101213;
  border-radius: 20px;
  background-color: #ffffff;
  box-shadow: 1vw 1vh #73aacc;
}

.flashcard > h3 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.flashcard > p {
  font-family: "Open Sans", sans-serif;
  color: #716760;
}

.true > p {
  color: #101213;
}

.true {
  background-color: #c4dae8;
}

.activity > p {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 0;
}

.activity-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.activity-screen > p {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2rem;
}

.interface {
  margin-top: 4vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.interface > button {
  background: none;
}

.clickable {
  cursor: pointer;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #ffffff;
  min-width: 30vw;
  padding: 1vh 1vw;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  border-radius: 20px;
  border: 1px solid #101213;
  margin-bottom: 2vh;
}

.primary {
  background-color: #73aacc;
  font-size: 1.5rem;
}
